body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    color: rgb(137, 161, 51);
    background-color: rgb(255, 255, 255);
    }
    h1{
        font-size: 2em;
        color: rgb(137, 161, 51);
        background-color:rgb(255, 255, 255);
    
    }
    h2{
        color: rgb(137, 161, 51);
    }
    
    p {
        color: rgb(137, 161, 51);
        font-size:  small;
    }